##
#set( $table = $entity )
#set( $prefix = "{{entity['" )
#set( $suffix = "']}}" )
##
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active"><a href="/${entity.name.toLowerCase()}">$entity.name</a></li>
    <li class="breadcrumb-item active">{{form}} $entity.name</li>
</ol>


<div class="container">
    <h2></h2>
    <div class="container">
        <form class="form-horizontal" method="post" id="${entity.name.toLowerCase()}_form">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
						<h3>
							<span class="glyphicon glyphicon-leaf"></span>
							{{form}} $entity.name
                            %if form == "Update" :
                            <a href="${entity.name.toLowerCase()}/form">
                                <button type="button" formaction="/${entity.name.toLowerCase()}/form" class="btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </a>
                            % end
                            <a href="/${entity.name.toLowerCase()}">
                                <button type="button" formaction="/${entity.name.toLowerCase()}" class="btn btn-link pull-right">
                                    List
                                </button>
                            </a>
						</h3>
					</div>
                    <div class="panel-body">
                        {{!message}}
#if( ! $entity.hasCompositePrimaryKey())
#foreach( $field in $entity.keyAttributes )
                        <div class="form-group">
                            <label for="${field.name}" class="col-sm-2">${field.name} #if($field.isDatabaseNotNull())*#end</label>
                            <div class="col-sm-8">
                                % if form == "Create" :
                                <input id="${field.name}" class="form-control" name='$field.name' #if($entity.hasAutoIncrementedKey())value="auto value" disabled#end/>
                                % elif form == "Update" :
                                <h5> {{entity['${field.name}']}} </h5>
                                <input type="hidden" name="${field.name}" value="{{entity['${field.name}']}}">
                                % end
                            </div>
                        </div>
#end
#foreach( $field in $entity.nonKeyAttributes )
#if( $field.isFK() )
#set( $foreign_table = $field.referencedEntityName )
#set( $entity = $field.referencedEntity )
                        <div class="form-group">
                            <label for="$field.name" class="col-sm-2">$field.name #if($field.isDatabaseNotNull())*#end</label>
                            <div class="col-sm-8">
								<select id='$field.name' name='$field.name' class="selectpicker" onchange="setLink('$fn.toLowerCase($foreign_table)', event)">
                                     % for item in list_$fn.toLowerCase($foreign_table) :
                                        <option value="{{item['value']}}" 
                                        % if item['selected'] == True:
                							selected="selected"
            							% end
            							>{{item['label']}}</option>
                                     % end
                                </select>
                                <a id="$fn.toLowerCase($foreign_table)" href="/$fn.toLowerCase($foreign_table)/form/{{item['value']}}">
                                    <button type="button" name="fk" class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span></button>
                                </a>
                            </div>
                        </div>
#else
                        <div class="form-group">
                            <label for="${field.name}" class="col-sm-2">${field.name} #if($field.isDatabaseNotNull())*#end</label>
                            <div class="col-sm-8">
                                % if form == "Create" :
                                <input id="${field.name}" class="form-control" #if($field.isDatabaseNotNull())required#end name='$field.name' value=""/>
                                % elif form == "Update" : 
                                <input id="${field.name}" class="form-control" #if($field.isDatabaseNotNull())required#end name='${field.name}' value="{{entity['${field.name}']}}"/>
                                % end
                            </div>
                        </div>
#end
#end
#else
#foreach( $field in $entity.attributes )
#if( $field.isFK() )
#set( $foreign_table = $field.referencedEntityName )
#set( $entity = $field.referencedEntity )
                        <div class="form-group">
                            <label for="$field.name" class="col-sm-2">$field.name #if($field.isDatabaseNotNull())*#end</label>
                            <div class="col-sm-8">
								<select id='$field.name' name='$field.name' class="selectpicker" onchange="setLink('$fn.toLowerCase($foreign_table)', event)">
                                     % for item in list_$fn.toLowerCase($foreign_table) :
                                        <option value="{{item['value']}}" 
                                        % if item['selected'] == True:
                							selected="selected"
            							% end
            							>{{item['label']}}</option>
                                     % end
                                </select>
                                <a id="$fn.toLowerCase($foreign_table)" href="/$fn.toLowerCase($foreign_table)/form/{{item['value']}}">
                                    <button type="button" name="fk" class="btn btn-default"><span class="glyphicon glyphicon-new-window"></span></button>
                                </a>
                            </div>
                        </div>
#else
                        <div class="form-group">
                            <label for="${field.name}" class="col-sm-2">$field.name #if($field.isDatabaseNotNull())*#end</label>
                            <div class="col-sm-8">
                                % if form == "Create" :
                                <input id="${field.name}" class="form-control" #if($field.isDatabaseNotNull())required#end name='$field.name' value=""/>
                                % elif form == "Update" :
                                <input id="${field.name}" class="form-control" #if($field.isDatabaseNotNull())required#end name='${field.name}' value="{{entity['${field.name}']}}"/>
                                % end
                            </div>
                        </div>
#end
#end
#end
#set( $entity = $table )
                    </div>
                    % if form == "Create" :
                    <div class="panel-footer text-center">
                        <a href="/${entity.name.toLowerCase()}/create">
                                <button type="submit" formaction="/${entity.name.toLowerCase()}/create" name="non_fk" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    % elif form == "Update" : 
                    <div class="panel-footer">
                        <a href="/${entity.name.toLowerCase()}/delete/$entity.keyAttributesNamesAsString('/', $prefix, $suffix)">
                            <button type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                        </a>
                        <a href="/${entity.name.toLowerCase()}/update/$entity.keyAttributesNamesAsString('/', $prefix, $suffix)">
                                <button type="submit" formaction="/${entity.name.toLowerCase()}/update/$entity.keyAttributesNamesAsString('/', $prefix, $suffix)" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                    % end
                </div>
            </div>
        </form>
    </div>
</div>

#foreach( $field in $entity.attributes )
#if( $field.isTemporalType() )
<script>
$(document).ready(function() {
    $(function () {
        $('${SHARP}${field.name}').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
});
</script>
#end
#end

<script>
    function setLink(element, id) {
        var aElement = document.getElementById(element);
        var link = `/${DOLLAR}{element}/form/${DOLLAR}{id.target.value}`;
        aElement.setAttribute('href', link);
    }

#foreach( $field in $entity.attributes )
#if( $field.isTemporalType() )
$(document).ready(function() {
    $(function () {
        $('${SHARP}${field.name}').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
});
#end
#end
</script>